[*.cs]

# this. and Me. preferences
dotnet_style_qualification_for_event = true
dotnet_style_qualification_for_field = true
dotnet_style_qualification_for_method = true
dotnet_style_qualification_for_property = true

[*.{cs,resx,xaml,c,cpp,h,hpp,vb}]
charset = utf-8-bom
end_of_line = crlf


# YAML files
[*.yml]
indent_style = space
indent_size = 2
tab_width = 2