<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="SciTech.Rpc Rules" ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA2235" Action="Hidden" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetCore.Analyzers" RuleNamespace="Microsoft.NetCore.Analyzers">
    <Rule Id="CA1816" Action="Info" />
  </Rules>
</RuleSet>